<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="FileBasePath" value="C:\temp\tmptxt\"/>
        <add key="FileReadFrom" value="People.txt"/>
        <add key="FileWriteTo" value="Randomized.txt"/>
    </appSettings>
</configuration>